body
{
}

code
{
    overflow: auto;
    font-size: 0.8em;
}

.viewer-box
{
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: 2px solid #cccccc;
}

.viewer-description
{
    font-weight:bold;
}

.viewer-container
{
    padding: 0 100px 0 100px;
}

.navigator-box
{
    overflow: hidden;
    margin: 0 auto 4px auto;
    padding: 0px;
    width: 175px;
    height: 150px;
    border: 2px solid #cccccc;
    background-color: #eeeeee;
}

.navigator-div
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


.openseadragon1 
{
    height: 350px;
    background-color: Black;
}
